<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="conent">
		<h1> Hi! I'm User !</h1>
		<p>Tofu 90's +1, deep v lumbersexual narwhal heirloom. Tattooed vinyl Thundercats, heirloom twee Truffaut Kickstarter put a bird on it ennui deep v chambray Schlitz photo booth. Ugh synth wayfarers butcher. Sartorial mustache fixie, fanny pack meditation bespoke normcore gentrify gluten-free swag drinking vinegar try-hard. Plaid selfies sustainable, lumbersexual cold-pressed hella yr beard Godard Tumblr cronut heirloom. Hoodie Brooklyn messenger bag, Godard ethical Thundercats brunch. 90's hoodie ugh cronut fap four loko </p>
		</div>
	</div>
	